doctype html
html
  head
    style
      include ../public/css/index.css
      include ../public/js/index.js

    title gluNO
  body
    section(class='container')
      div(class='left')
        article
          div(class='share')
            h2 WANNA SHARE?
            p #{messageL}
          div(class='form')
            form(action='/add', method='post', autocomplete='off')
              input(type='text', name='Name', placeholder='Name of the Restaurant', style='width: 350px')
              br
              input(type='text', name='Address', placeholder='streetname + #no', style='width: 350px')
              br
              input(type='text', name='City', placeholder='city', style='width: 350px')
              br
              input(type='text', name='Website', placeholder='Website', style='width: 350px')
              br
              textarea(type='text', name='info', placeholder='Description: e.g. what do they offer? Special menu\'s? Gluten-free cake', style='width: 350px; height: 70px')
              br
              button(type='submit', value='Submit Restaurant') Add restaurant

      div(class='right')
        article
          div(class='go')
          h2 WANNA GO OUT?
          p #{message}
          div(class='search')
            form(action='/search', method='post', autocomplete='off')
              input(type='text', name='search', placeholder='Search for restaurant name, place name' style='width: 300px')
              button(type='submit', name='submit') Submit

          div(class='top')
            div(class='vote1')
               ul
                  li box 1 
                  li box 2
                  li box 3
            div(class='vote2')
               ul
                  li box 4 
                  li box 5

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
