doctype html
html
  head
    link(href='https://fonts.googleapis.com/css?family=Cabin+Sketch:700|Julius+Sans+One|Monoton|Sintony:400,700', rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1')

  
    style
      include ../public/css/index.css
      include ../public/js/index.js

    title gluNO
  body
    section(class='container')
      div(class='left')
        article
          div(class='share')
            h2 WANNA&nbsp;
              div(class='words')
                span(class='middle') SHARE?&nbsp;
                span(class='top') CONTRIBUTE?&nbsp;
                span(class='bottom') CARE? 
            p #{messageL}
          div(class='form')
            form(action='/add', method='post', autocomplete='off')
              input(type='text', name='Name', placeholder=' Name of the Restaurant', style='width: 350px')
              br
              input(type='text', name='Address', placeholder=' streetname + #no', style='width: 350px')
              br
              input(type='text', name=' City', placeholder=' City', style='width: 350px')
              br
              input(type='text', name='Website', placeholder=' Website', style='width: 350px')
              br
              textarea(type='text', name='info', placeholder='Description: e.g. what do they offer? Special menu\'s? Gluten-free cake', style='width: 350px; height: 70px')
              br
              button(type='submit', name='add') Pay it Forward

      div(class='right')
        article
          div(class='go')
            h2 WANNA GO OUT?
            p #{message}
            div(class='search')
              form(action='/search', method='post', autocomplete='off')
                input(type='text', name='search', placeholder=' Search for restaurant name or place name' style='width: 300px')
                br
                br
                button(type='search') Search

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
