doctype html
html
	head
		link(href='https://fonts.googleapis.com/css?family=Cabin+Sketch:700|Julius+Sans+One|Monoton|Sintony:400,700', rel='stylesheet')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet' type='text/css' href='css/index.css')


		title gluNO
	body
		section(class='container')
			div(class='left')
				div(class='wrapper')
					svg#wheat(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='520px', height='382px', viewbox='0 -41 520 382', enable-background='new 0 -41 520 382', xml:space='preserve')
						g#takje_1_
							g
								path(fill='#FFC015', d='M23.222,304.081c12-9.052,25.351-15.868,38.503-23.047c14.392-7.856,28.85-15.589,43.316-23.308\
								c28.652-15.289,57.126-30.906,85.753-46.235c53.304-28.546,110.115-49.909,168.485-65.486c15.739-4.2,31.599-7.937,47.526-11.348\
								c5.674-1.215,3.267-9.891-2.393-8.679c-58.551,12.538-115.865,30.202-170.631,54.512c-28.485,12.645-55.584,27.764-82.976,42.559\
								c-28.85,15.583-57.881,30.826-86.708,46.452c-15.43,8.364-31.363,16.206-45.418,26.808\
								C14.108,299.758,18.585,307.579,23.222,304.081L23.222,304.081z')
						g#Blaadje
							g#B6
								g
									path(fill='#FFC03F', d='M367.857,137.687c-29.639-32.521,20.52-79.946,48.284-95.197c-1.349,24.146,6.284,51.742-14.251,70.588\
									c-9.236,7.979-20.699,23.342-34.111,25.293')
									g
										path(fill='#E9A400', d='M369.979,135.565c-14.103-15.954-7.075-35.916,3.803-51.466c11.097-15.863,26.986-29.627,43.875-39.02\
										c-1.505-0.863-3.009-1.727-4.514-2.59c-0.9,18.467,3.579,38.577-4.239,56.055c-3.812,8.521-11.297,14.267-17.734,20.72\
										c-6.831,6.848-14.282,14.45-24.187,16.213c-3.805,0.678-2.188,6.459,1.595,5.786c9.955-1.772,17.778-8.879,24.774-15.711\
										c7.228-7.057,15.319-13.68,20.116-22.718c9.746-18.362,4.709-40.555,5.674-60.346c0.114-2.341-2.614-3.647-4.514-2.59\
										c-29.948,16.655-80.623,64.014-48.891,99.908C368.304,142.712,372.531,138.453,369.979,135.565L369.979,135.565z')
								g
									path(fill='#FDF57A', d='M372.412,118.054c2.008-14.84,8.606-42.924,29.551-38.204c0.228,7.811-4.496,20.24-7.544,27.397\
									c-4.404,10.208-10.953,8.901-19.546,11.588')
									g
										path(fill='#FBB03B', d='M373.858,118.453c2.021-14.549,7.731-41.124,27.706-37.157c-0.367-0.482-0.734-0.964-1.101-1.446\
										c-0.016,8.895-3.673,17.783-7.021,25.887c-3.73,9.026-10.713,9.215-18.967,11.652c-1.851,0.546-1.063,3.442,0.798,2.893\
										c8.13-2.4,15.354-2.738,19.798-10.896c4.617-8.474,8.375-19.85,8.393-29.536c0.001-0.63-0.454-1.318-1.101-1.446\
										c-22.09-4.387-29.091,22.658-31.396,39.251C370.703,119.546,373.593,120.362,373.858,118.453L373.858,118.453z')
							g#B5
								g
									path(fill='#FFC03F', d='M335.727,143.333c-39.92-18.509-12.036-81.655,7.658-106.466c8.106,22.785,25.828,45.272,14.192,70.601\
									c-5.427,10.933-10.047,29.535-21.657,36.527')
									g
										path(fill='#E9A400', d='M337.241,140.743c-19.383-9.317-20.958-30.311-16.778-49.172c4.149-18.726,13.188-37.498,25.043-52.583\
										c-1.671-0.441-3.343-0.882-5.014-1.324c6.609,18.129,18.936,35.506,17.813,55.543c-0.512,9.146-5.631,17.885-9.068,26.238\
										c-3.314,8.054-7.242,17.074-14.832,21.959c-3.241,2.086-0.236,7.282,3.028,5.181c7.658-4.929,12.046-12.905,15.667-21.02\
										c3.823-8.568,8.501-17.685,10.471-26.868c4.783-22.293-10.031-42.706-17.294-62.628c-0.682-1.87-3.49-3.263-5.014-1.324\
										c-20.897,26.588-50.177,90.448-7.051,111.178C337.682,147.591,340.727,142.418,337.241,140.743L337.241,140.743z')
								g
									path(fill='#FDF57A', d='M332.324,123.468c-3.895-14.459-8.685-42.908,12.453-46.666c3.234,7.114,3.692,20.402,3.652,28.181\
									c-0.107,11.118-6.652,12.449-13.534,18.252')
									g
										path(fill='#FBB03B', d='M333.771,123.069c-3.811-14.349-8.637-40.736,11.406-44.821c-0.615-0.349-1.229-0.698-1.845-1.047\
										c3.313,7.896,3.489,16.974,3.595,25.42c0.059,4.707-0.396,8.898-3.783,12.42c-2.674,2.782-6.319,4.697-9.308,7.134\
										c-1.5,1.223,0.636,3.333,2.121,2.121c6.633-5.407,12.919-8.42,13.91-17.717c1-9.386,0.026-21.431-3.643-30.176\
										c-0.333-0.795-0.962-1.228-1.845-1.047c-21.997,4.483-17.754,32.498-13.5,48.511\
										C331.374,125.735,334.268,124.941,333.771,123.069L333.771,123.069z')
							g#B4
								g
									path(fill='#FFC03F', d='M277.91,161.613c-35.683-25.746,3.672-82.456,27.716-103.081c3.636,23.909,16.771,49.35,0.542,72.011\
									c-7.402,9.706-15.468,27.093-28.193,31.756')
									g
										path(fill='#E9A400', d='M279.424,159.022c-17.144-12.769-14.137-34.288-6.463-51.657c7.787-17.626,20.238-34.1,34.786-46.712\
										c-1.671-0.441-3.343-0.882-5.014-1.324c3.07,19.165,12.109,38.841,6.549,58.363c-2.39,8.392-8.739,15.635-13.476,22.846\
										c-4.748,7.227-10.275,15.521-18.629,18.867c-3.545,1.42-2,7.226,1.595,5.786c8.314-3.332,13.997-9.932,19.106-17.055\
										c2.615-3.646,4.982-7.469,7.456-11.21c2.845-4.303,6.012-8.265,8.028-13.069c9.13-21.752-1.357-44.368-4.843-66.123\
										c-0.386-2.413-3.494-2.642-5.014-1.324c-26.014,22.553-65.556,79.158-27.109,107.792\
										C279.503,166.517,282.489,161.305,279.424,159.022L279.424,159.022z')
								g
									path(fill='#FDF57A', d='M278.338,141.463c-1.081-14.936-0.387-43.776,21.08-43.457c1.826,7.598-0.246,20.732-1.76,28.363\
									c-2.215,10.895-8.893,10.96-16.752,15.354')
									g
										path(fill='#FBB03B', d='M279.838,141.463c-1.014-14.727-0.827-41.748,19.58-41.957c-0.482-0.367-0.964-0.734-1.446-1.101\
										c1.861,8.955-0.039,18.73-1.76,27.565c-1.76,9.035-8.984,10.647-16.063,14.457c-1.704,0.917-0.189,3.507,1.514,2.591\
										c7.493-4.033,14.415-5.853,17.095-14.766c2.773-9.223,4.068-21.206,2.106-30.645c-0.133-0.643-0.813-1.107-1.446-1.101\
										c-22.485,0.229-23.725,28.334-22.58,44.957C276.97,143.382,279.971,143.395,279.838,141.463L279.838,141.463z')
							g#B3
								g
									path(fill='#FFC03F', d='M221.573,184.909c-34.443-27.382,7.516-82.194,32.495-101.675c2.517,24.053,14.45,50.079-2.819,71.958\
									c-7.847,9.35-16.714,26.342-29.644,30.406')
									g
										path(fill='#E9A400', d='M223.694,182.788c-16.881-13.843-13.196-34.905-4.46-52.417c8.599-17.239,21.837-33.097,36.955-45.016\
										c-1.707-0.707-3.414-1.414-5.121-2.121c2.154,19.14,10.061,39.007,4.268,58.178c-2.662,8.808-9.653,16.067-14.977,23.4\
										c-5.101,7.027-11.035,14.934-19.551,17.892c-3.631,1.262-2.07,7.06,1.595,5.786c8.395-2.917,14.504-9.344,19.818-16.23\
										c5.843-7.572,12.731-15.5,16.884-24.124c9.911-20.577,0.338-43.792-2.038-64.902c-0.307-2.723-2.979-3.81-5.121-2.121\
										c-26.475,20.871-69.168,75.845-32.495,105.917C222.417,189.462,226.688,185.243,223.694,182.788L223.694,182.788z')
								g
									path(fill='#FDF57A', d='M222.941,164.801c-0.384-14.97,1.656-43.747,23.084-42.425c1.469,7.675-1.213,20.698-3.082,28.25\
									c-2.72,10.78-9.394,10.534-17.449,14.555')
									g
										path(fill='#FBB03B', d='M224.441,164.801c-0.328-14.811,1.162-41.67,21.584-40.925c-0.482-0.367-0.964-0.734-1.446-1.101\
										c1.442,9.038-0.948,18.697-3.082,27.452c-2.165,8.879-9.542,10.198-16.76,13.659c-1.744,0.836-0.222,3.423,1.514,2.591\
										c7.709-3.696,14.61-5.147,17.724-13.985c3.195-9.068,5.015-20.996,3.497-30.514c-0.106-0.666-0.833-1.079-1.446-1.101\
										c-22.45-0.819-24.952,27.325-24.584,43.925C221.484,166.733,224.484,166.737,224.441,164.801L224.441,164.801z')
							g#B2
								g
									path(fill='#FFC03F', d='M181.752,204.768c-39.534-19.318-10.369-81.884,9.827-106.289c7.64,22.946,24.899,45.79,12.75,70.875\
									c-5.648,10.821-10.646,29.326-22.397,36.078')
									g
										path(fill='#E9A400', d='M183.267,202.176c-18.981-9.607-20.253-30.357-15.838-48.98c4.467-18.842,14.002-37.621,26.272-52.597\
										c-1.671-0.441-3.343-0.882-5.014-1.324c6.381,18.667,19.422,37.413,16.391,57.976c-1.252,8.493-6.154,16.698-9.599,24.506\
										c-3.457,7.835-7.513,16.44-15.062,21.084c-3.289,2.022-0.277,7.214,3.028,5.181c7.744-4.763,12.294-12.696,16.071-20.717\
										c4.019-8.535,8.92-17.66,11.045-26.861c5.101-22.091-9.261-42.788-16.089-62.763c-0.661-1.933-3.479-3.197-5.014-1.324\
										c-21.471,26.203-51.917,89.387-9.22,111C183.682,209.1,186.719,203.924,183.267,202.176L183.267,202.176z')
								g
									path(fill='#FDF57A', d='M178.756,184.836c-3.599-14.535-7.808-43.076,13.402-46.402c3.088,7.178,3.275,20.474,3.077,28.25\
									c-0.334,11.113-6.904,12.311-13.904,17.973')
									g
										path(fill='#FBB03B', d='M180.202,184.438c-3.523-14.444-7.775-40.879,12.354-44.557c-0.615-0.349-1.23-0.698-1.845-1.047\
										c3.148,7.956,3.134,17.048,3.067,25.489c-0.037,4.716-0.597,8.876-4.057,12.332c-2.727,2.724-6.417,4.569-9.452,6.942\
										c-1.523,1.19,0.616,3.299,2.121,2.121c6.759-5.283,13.065-8.146,14.248-17.438c1.194-9.38,0.462-21.406-3.035-30.243\
										c-0.322-0.813-0.971-1.207-1.845-1.047c-22.078,4.033-18.37,32.173-14.449,48.246\
										C177.768,187.114,180.661,186.316,180.202,184.438L180.202,184.438z')
							g#B1
								g
									path(fill='#FFC03F', d='M141.654,224.302c-41.496-14.636-19.731-80.143-2.481-106.712c10.232,21.913,30.008,42.617,20.829,68.936\
									c-4.365,11.398-7.198,30.355-18.093,38.418')
									g
										path(fill='#E9A400', d='M142.451,221.409c-20.132-7.407-23.194-28.771-20.868-47.647c2.349-19.059,9.816-38.532,20.18-54.658\
										c-1.727,0-3.454,0-5.181,0c8.27,17.377,22.43,33.62,22.786,53.714c0.158,8.914-3.909,17.729-6.469,26.144\
										c-2.645,8.695-5.714,18.036-13.111,23.858c-3.039,2.393,1.238,6.607,4.242,4.242c7.467-5.877,10.98-15.115,13.833-23.879\
										c3.039-9.334,6.938-19.031,7.479-28.89c1.186-21.605-14.819-39.815-23.578-58.22c-1.021-2.146-4.058-1.747-5.181,0\
										c-18.539,28.847-40.699,94.574,4.274,111.119C144.496,228.534,146.051,222.732,142.451,221.409L142.451,221.409z')
								g
									path(fill='#FDF57A', d='M136.382,204.85c-5.25-14.023-12.718-41.89,7.968-47.637c3.895,6.774,5.612,19.96,6.311,27.708\
									c0.949,11.077-5.441,13.022-11.741,19.455')
									g
										path(fill='#FBB03B', d='M137.828,204.451c-5.121-13.831-12.587-39.831,6.92-45.792c-0.565-0.229-1.129-0.459-1.694-0.689\
										c4.146,7.731,5.136,17.215,5.999,25.807c0.473,4.705-0.078,8.734-3.312,12.339c-2.366,2.636-5.362,4.709-7.882,7.198\
										c-1.378,1.361,0.744,3.481,2.121,2.121c6.594-6.511,12.744-10.32,12.18-20.515c-0.52-9.399-2.027-20.096-6.515-28.464\
										c-0.31-0.578-1.071-0.88-1.694-0.689c-21.513,6.574-14.811,33.832-9.015,49.482C135.601,207.046,138.501,206.27,137.828,204.451\
										L137.828,204.451z')
							g#O5
								g
									path(fill='#FFC03F', d='M378.052,141.108c-2.136,43.949,66.737,48.564,97.857,42.638c-16.422-17.757-28.112-43.893-55.947-45.343\
									c-12.202-0.268-30.824-4.812-42.407,2.228')
									g
										path(fill='#E9A400', d='M375.052,141.108c-1.712,47.851,68.315,51.727,101.655,45.531c2.347-0.437,2.724-3.48,1.324-5.014\
										c-12.924-14.154-22.461-32.354-40.036-41.489c-9.1-4.729-18.968-4.594-28.909-5.558c-11.034-1.07-23.002-2.198-33.045,3.463\
										c-3.37,1.899-0.347,7.083,3.028,5.181c8.991-5.068,20.178-3.587,30.017-2.644c9.876,0.948,19.171,0.964,28.08,5.922\
										c15.775,8.78,24.783,26.4,36.623,39.367c0.44-1.672,0.882-3.344,1.324-5.014c-18.998,3.53-39.604,2.676-58.272-2.194\
										c-18.563-4.845-36.549-16.26-35.788-37.551C381.19,137.237,375.19,137.251,375.052,141.108L375.052,141.108z')
								g
									path(fill='#FDF57A', d='M394.066,153.343c11,10.161,33.975,27.609,47.116,10.632c-4.8-6.168-16.357-12.741-23.266-16.316\
									c-9.898-5.066-14.116,0.112-22.451,3.515')
									g
										path(fill='#FBB03B', d='M393.006,154.404c12.263,11.23,34.96,27.944,49.237,10.632c0.559-0.677,0.562-1.444,0-2.121\
										c-6.1-7.356-15.23-12.198-23.569-16.551c-9.127-4.764-15.546-0.114-23.965,3.515c-1.772,0.764-0.243,3.348,1.514,2.591\
										c3.656-1.576,7.078-3.729,10.872-4.962c4.815-1.566,9.346,1.026,13.449,3.247c7.005,3.792,14.438,8.081,19.579,14.282\
										c0-0.707,0-1.414,0-2.121c-13.032,15.801-33.956-0.523-44.995-10.632C393.704,150.979,391.576,153.095,393.006,154.404\
										L393.006,154.404z')
							g#O4
								g
									path(fill='#FFC03F', d='M319.052,158.108c-2.136,43.949,66.737,48.564,97.857,42.638c-16.422-17.757-28.112-43.893-55.947-45.343\
									c-12.202-0.268-30.824-4.812-42.407,2.228')
									g
										path(fill='#E9A400', d='M316.052,158.108c-1.712,47.851,68.315,51.727,101.655,45.531c2.347-0.437,2.724-3.48,1.324-5.014\
										c-12.924-14.154-22.461-32.354-40.036-41.489c-9.099-4.729-18.968-4.594-28.909-5.558c-11.034-1.07-23.002-2.198-33.045,3.463\
										c-3.37,1.899-0.347,7.083,3.028,5.181c8.991-5.068,20.178-3.587,30.017-2.644c9.876,0.948,19.171,0.964,28.08,5.922\
										c15.775,8.779,24.783,26.4,36.623,39.367c0.441-1.672,0.882-3.344,1.324-5.014c-18.998,3.53-39.604,2.676-58.272-2.194\
										c-18.563-4.845-36.549-16.261-35.788-37.551C322.19,154.237,316.19,154.251,316.052,158.108L316.052,158.108z')
								g
									path(fill='#FDF57A', d='M335.066,170.343c11,10.161,33.975,27.609,47.116,10.632c-4.8-6.168-16.358-12.741-23.266-16.315\
									c-9.898-5.066-14.116,0.112-22.451,3.515')
									g
										path(fill='#FBB03B', d='M334.006,171.404c12.263,11.229,34.96,27.943,49.237,10.632c0.559-0.677,0.562-1.444,0-2.121\
										c-6.099-7.356-15.23-12.198-23.569-16.551c-9.127-4.764-15.546-0.114-23.965,3.515c-1.772,0.764-0.243,3.348,1.514,2.591\
										c3.656-1.576,7.078-3.729,10.872-4.962c4.815-1.566,9.346,1.026,13.449,3.247c7.005,3.792,14.437,8.081,19.579,14.282\
										c0-0.707,0-1.414,0-2.121c-13.032,15.801-33.956-0.523-44.995-10.632C334.704,167.979,332.576,170.095,334.006,171.404\
										L334.006,171.404z')
							g#O3
								g
									path(fill='#FFC03F', d='M264.052,180.107c-2.136,43.949,66.737,48.564,97.857,42.639c-16.422-17.757-28.112-43.893-55.947-45.344\
									c-12.202-0.268-30.824-4.812-42.407,2.229')
									g
										path(fill='#E9A400', d='M261.052,180.107c-1.712,47.852,68.315,51.728,101.655,45.531c2.347-0.437,2.724-3.48,1.324-5.014\
										c-12.924-14.154-22.461-32.354-40.036-41.489c-9.099-4.729-18.968-4.594-28.909-5.558c-11.034-1.07-23.002-2.198-33.045,3.463\
										c-3.37,1.898-0.347,7.083,3.028,5.182c8.991-5.068,20.178-3.588,30.017-2.645c9.876,0.947,19.171,0.964,28.08,5.922\
										c15.775,8.779,24.783,26.4,36.623,39.367c0.441-1.672,0.882-3.344,1.324-5.014c-18.998,3.53-39.604,2.676-58.272-2.194\
										c-18.563-4.845-36.549-16.261-35.788-37.552C267.19,176.236,261.19,176.251,261.052,180.107L261.052,180.107z')
								g
									path(fill='#FDF57A', d='M280.066,192.343c11,10.161,33.975,27.609,47.116,10.632c-4.8-6.168-16.358-12.74-23.266-16.315\
									c-9.898-5.066-14.116,0.112-22.451,3.515')
									g
										path(fill='#FBB03B', d='M279.006,193.404c12.263,11.229,34.96,27.943,49.237,10.632c0.559-0.677,0.562-1.444,0-2.121\
										c-6.099-7.356-15.23-12.198-23.569-16.551c-9.127-4.765-15.546-0.114-23.965,3.515c-1.772,0.764-0.243,3.348,1.514,2.592\
										c3.656-1.576,7.078-3.729,10.872-4.963c4.815-1.566,9.346,1.026,13.449,3.247c7.005,3.792,14.437,8.081,19.579,14.282\
										c0-0.707,0-1.414,0-2.121c-13.032,15.801-33.956-0.523-44.995-10.632C279.704,189.979,277.576,192.096,279.006,193.404\
										L279.006,193.404z')
							g#O2
								g
									path(fill='#FFC03F', d='M211.052,204.107c-2.136,43.949,66.737,48.564,97.857,42.639c-16.422-17.757-28.112-43.893-55.947-45.344\
									c-12.202-0.268-30.824-4.812-42.407,2.229')
									g
										path(fill='#E9A400', d='M208.052,204.107c-1.712,47.852,68.315,51.728,101.655,45.531c2.347-0.437,2.724-3.48,1.324-5.014\
										c-12.924-14.154-22.461-32.354-40.036-41.489c-9.099-4.729-18.968-4.594-28.909-5.559c-11.034-1.07-23.002-2.198-33.045,3.463\
										c-3.37,1.899-0.347,7.083,3.028,5.181c8.991-5.068,20.178-3.587,30.017-2.644c9.876,0.948,19.171,0.965,28.08,5.922\
										c15.775,8.78,24.783,26.401,36.623,39.367c0.441-1.671,0.882-3.343,1.324-5.015c-18.998,3.531-39.604,2.678-58.272-2.193\
										c-18.563-4.844-36.549-16.26-35.788-37.551C214.19,200.236,208.19,200.251,208.052,204.107L208.052,204.107z')
								g
									path(fill='#FDF57A', d='M227.066,216.344c11,10.16,33.975,27.608,47.116,10.633c-4.8-6.168-16.358-12.742-23.266-16.316\
									c-9.898-5.064-14.116,0.111-22.451,3.515')
									g
										path(fill='#FBB03B', d='M226.006,217.404c12.263,11.229,34.96,27.943,49.237,10.632c0.559-0.677,0.562-1.444,0-2.121\
										c-6.099-7.356-15.23-12.198-23.569-16.551c-9.126-4.765-15.546-0.114-23.965,3.515c-1.772,0.764-0.243,3.348,1.514,2.592\
										c3.656-1.576,7.078-3.729,10.872-4.963c4.815-1.566,9.346,1.026,13.449,3.247c7.005,3.792,14.437,8.081,19.579,14.282\
										c0-0.707,0-1.414,0-2.121c-13.032,15.801-33.956-0.523-44.995-10.632C226.704,213.979,224.576,216.096,226.006,217.404\
										L226.006,217.404z')
							g#O1
								g
									path(fill='#FFC03F', d='M157.052,229.107c-2.136,43.949,66.737,48.564,97.857,42.639c-16.422-17.758-28.112-43.893-55.947-45.344\
									c-12.202-0.268-30.824-4.812-42.407,2.229')
									g
										path(fill='#E9A400', d='M154.052,229.107c-1.712,47.852,68.315,51.728,101.655,45.531c2.347-0.437,2.724-3.48,1.324-5.015\
										c-12.924-14.153-22.461-32.354-40.036-41.489c-9.099-4.729-18.968-4.594-28.909-5.559c-11.034-1.07-23.002-2.198-33.045,3.463\
										c-3.37,1.898-0.347,7.083,3.028,5.181c8.991-5.067,20.178-3.587,30.017-2.644c9.876,0.947,19.171,0.965,28.08,5.922\
										c15.775,8.779,24.783,26.4,36.623,39.367c0.441-1.672,0.882-3.344,1.324-5.014c-18.998,3.529-39.604,2.676-58.272-2.194\
										c-18.563-4.845-36.549-16.261-35.788-37.552C160.19,225.236,154.19,225.251,154.052,229.107L154.052,229.107z')
								g
									path(fill='#FDF57A', d='M173.066,241.344c11,10.16,33.975,27.608,47.116,10.633c-4.8-6.168-16.358-12.742-23.266-16.316\
									c-9.898-5.064-14.116,0.111-22.451,3.515')
									g
										path(fill='#FBB03B', d='M172.006,242.404c12.263,11.229,34.96,27.943,49.237,10.632c0.559-0.677,0.562-1.444,0-2.121\
										c-6.099-7.356-15.23-12.198-23.569-16.551c-9.126-4.765-15.546-0.114-23.965,3.515c-1.772,0.764-0.243,3.348,1.514,2.592\
										c3.656-1.576,7.078-3.729,10.872-4.963c4.815-1.566,9.346,1.026,13.449,3.247c7.005,3.792,14.437,8.081,19.579,14.282\
										c0-0.707,0-1.414,0-2.121c-13.032,15.801-33.956-0.523-44.995-10.632C172.704,238.979,170.576,241.096,172.006,242.404\
										L172.006,242.404z')
							g#top
								g
									path(fill='#FFC03F', d='M407.34,130.716c-11.614-42.44,54.621-61.878,86.284-62.839c-12.179,20.894-17.926,48.942-44.784,56.394\
									c-11.854,2.908-29.048,11.38-41.881,7.021')
									g
										path(fill='#E9A400', d='M410.232,129.919c-5.331-20.552,9.742-35.18,26.509-44.105c17.104-9.105,37.536-14.26,56.883-14.937\
										c-0.863-1.505-1.727-3.009-2.591-4.514c-8.549,14.881-13.506,32.347-25.697,44.879c-7.094,7.293-15.912,9.486-25.251,12.492\
										c-10.192,3.281-21.578,7.914-32.328,4.664c-3.713-1.123-5.288,4.669-1.595,5.786c10.886,3.291,22.246-0.357,32.649-3.73\
										c9.678-3.137,18.951-5.318,27.124-11.691c15.508-12.092,20.858-32.974,30.28-49.372c1.102-1.916-0.281-4.595-2.591-4.514\
										c-34.051,1.191-101.204,20.268-89.177,66.637C405.418,135.256,411.205,133.667,410.232,129.919L410.232,129.919z')
								g
									path(fill='#FDF57A', d='M420.322,115.301c8.534-12.306,27.18-34.319,43.688-20.594c-3.349,7.061-13.206,15.984-19.175,20.973\
									c-8.563,7.09-13.803,2.949-22.678,1.436')
									g
										path(fill='#FBB03B', d='M421.618,116.059c8.39-11.988,25.415-32.714,41.333-20.291c-0.078-0.606-0.156-1.212-0.235-1.817\
										c-3.687,7.191-10.043,12.896-16.026,18.178c-3.526,3.112-6.989,5.968-11.912,6.066c-4.046,0.081-8.271-1.777-12.221-2.525\
										c-1.891-0.358-2.697,2.533-0.798,2.893c8.021,1.52,15.464,4.881,22.74-0.741c7.802-6.029,16.248-13.464,20.807-22.357\
										c0.28-0.546,0.309-1.394-0.234-1.817c-17.906-13.975-36.31,6.988-46.044,20.897C417.915,116.133,420.517,117.63,421.618,116.059\
										L421.618,116.059z')
				article
					div(class='share')
						h2 WANNA SHARE?
						p #{messageL}
					div(class='form')
						form(action='/add', method='post', autocomplete='off')
							input(type='text', name='Name', placeholder=' Name of the Restaurant', style='width: 350px')
							br
							input(type='text', name='Address', placeholder=' streetname + #no', style='width: 350px')
							br
							input(type='text', name=' City', placeholder=' City', style='width: 350px')
							br
							input(type='text', name='Website', placeholder=' Website', style='width: 350px')
							br
							textarea(type='text', name='info', placeholder='Description: e.g. what do they offer? Special menu\'s?' style='width: 350px; height: 70px')
							br
							button(type='submit', name='add') Pay it Forward

			div(class='right')
				div(class='wrapper2')
					svg#wheat(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='628.022px', height='400px', viewbox='0 0 628.022 400', enable-background='new 0 0 628.022 400', xml:space='preserve')
						g#takje_1_
							g
								path(d='M533.729,334.081c4.638,3.498,9.115-4.323,4.543-7.772c-14.055-10.602-29.987-18.443-45.418-26.808\
								c-28.826-15.626-57.857-30.869-86.707-46.452c-27.393-14.795-54.491-29.914-82.977-42.559\
								c-54.766-24.31-112.08-41.974-170.631-54.512c-5.66-1.212-8.066,7.464-2.393,8.679c15.927,3.411,31.787,7.148,47.525,11.348\
								c58.37,15.577,115.182,36.94,168.485,65.486c28.627,15.329,57.101,30.946,85.753,46.235c14.466,7.719,28.924,15.451,43.316,23.308\
								C508.378,318.213,521.729,325.029,533.729,334.081L533.729,334.081z')
						g#B6
							g
								path(stroke='#666666', stroke-miterlimit='10', d='M189.172,168.371c-13.412-1.951-24.875-17.314-34.111-25.293\
								c-20.534-18.846-12.901-46.442-14.25-70.588c27.764,15.251,77.923,62.676,48.283,95.197')
								g
									path(stroke='#666666', stroke-miterlimit='10', d='M186.973,165.565c-2.553,2.888,1.675,7.147,4.242,4.241\
									c31.731-35.894-18.943-83.253-48.892-99.908c-1.899-1.057-4.628,0.249-4.515,2.59c0.966,19.791-4.071,41.984,5.675,60.346\
									c4.797,9.038,12.888,15.661,20.116,22.718c6.996,6.832,14.818,13.939,24.773,15.711c3.783,0.673,5.4-5.108,1.596-5.786\
									c-9.905-1.763-17.356-9.365-24.188-16.213c-6.438-6.453-13.922-12.199-17.734-20.72c-7.818-17.478-3.339-37.588-4.238-56.055\
									c-1.506,0.863-3.01,1.727-4.515,2.59c16.89,9.393,32.778,23.157,43.875,39.02C194.047,129.649,201.076,149.611,186.973,165.565\
									L186.973,165.565z')
							g
								path(fill='#808080', stroke='#000000', stroke-miterlimit='10', d='M182.079,148.835c-8.593-2.687-15.143-1.38-19.546-11.588\
								c-3.048-7.157-7.772-19.586-7.544-27.397c20.945-4.72,27.543,23.364,29.551,38.204')
								g
									path(fill='#808080', stroke='#000000', stroke-miterlimit='10', d='M183.094,148.453c0.265,1.909,3.154,1.093,2.891-0.798\
									c-2.305-16.593-9.307-43.638-31.396-39.251c-0.646,0.128-1.102,0.816-1.101,1.446c0.019,9.686,3.776,21.062,8.394,29.536\
									c4.443,8.158,11.668,8.496,19.797,10.896c1.861,0.549,2.649-2.347,0.799-2.893c-8.254-2.437-15.237-2.626-18.967-11.652\
									c-3.349-8.104-7.006-16.992-7.021-25.887c-0.367,0.482-0.734,0.964-1.102,1.446C175.363,107.329,181.073,133.904,183.094,148.453\
									L183.094,148.453z')
						g#B5
							g
								path(stroke='#666666', stroke-miterlimit='10', d='M221.032,173.995c-11.609-6.992-16.23-25.594-21.657-36.527\
								c-11.636-25.329,6.086-47.816,14.192-70.601c19.693,24.811,47.578,87.957,7.658,106.466')
								g
									path(stroke='#666666', stroke-miterlimit='10', d='M219.71,170.743c-3.485,1.675-0.44,6.848,3.029,5.18\
									c43.126-20.73,13.846-84.59-7.052-111.178c-1.523-1.939-4.331-0.546-5.014,1.324c-7.263,19.922-22.076,40.335-17.294,62.628\
									c1.97,9.183,6.648,18.3,10.472,26.868c3.621,8.115,8.009,16.091,15.666,21.02c3.265,2.101,6.27-3.095,3.028-5.181\
									c-7.59-4.885-11.518-13.905-14.831-21.959c-3.438-8.353-8.557-17.092-9.068-26.238c-1.123-20.037,11.203-37.414,17.813-55.543\
									c-1.671,0.442-3.343,0.883-5.014,1.324c11.855,15.085,20.895,33.857,25.043,52.583\
									C240.668,140.432,239.094,161.426,219.71,170.743L219.71,170.743z')
							g
								path(fill='#808080', stroke='#000000', stroke-miterlimit='10', d='M222.057,153.235c-6.883-5.803-13.428-7.134-13.535-18.252\
								c-0.039-7.779,0.419-21.067,3.652-28.181c21.139,3.758,16.348,32.207,12.453,46.666')
								g
									path(fill='#808080', stroke='#000000', stroke-miterlimit='10', d='M223.18,153.069c-0.496,1.872,2.397,2.666,2.893,0.798\
									c4.254-16.013,8.497-44.028-13.5-48.511c-0.883-0.181-1.512,0.252-1.846,1.047c-3.668,8.745-4.643,20.79-3.643,30.176\
									c0.991,9.297,7.277,12.31,13.91,17.717c1.484,1.212,3.621-0.898,2.121-2.121c-2.989-2.437-6.634-4.352-9.309-7.134\
									c-3.386-3.522-3.842-7.713-3.782-12.42c0.105-8.446,0.282-17.524,3.595-25.42c-0.615,0.349-1.23,0.698-1.845,1.047\
									C231.818,112.333,226.992,138.72,223.18,153.069L223.18,153.069z')
						g#B4
							g
								path(stroke='#999999', stroke-miterlimit='10', d='M278.977,192.299c-12.726-4.663-20.791-22.05-28.193-31.756\
								c-16.229-22.661-3.094-48.102,0.542-72.011c24.044,20.625,63.399,77.335,27.716,103.081')
								g
									path(stroke='#999999', stroke-miterlimit='10', d='M277.528,189.022c-3.065,2.283-0.079,7.495,3.027,5.18\
									c38.447-28.634-1.095-85.239-27.108-107.792c-1.521-1.318-4.628-1.089-5.015,1.324c-3.485,21.755-13.973,44.371-4.842,66.123\
									c2.016,4.804,5.182,8.766,8.027,13.069c2.475,3.741,4.841,7.564,7.456,11.21c5.108,7.123,10.792,13.723,19.106,17.055\
									c3.595,1.44,5.14-4.366,1.595-5.786c-8.354-3.346-13.882-11.64-18.63-18.867c-4.736-7.211-11.086-14.454-13.476-22.846\
									c-5.56-19.522,3.479-39.198,6.55-58.363c-1.672,0.442-3.344,0.883-5.015,1.324c14.548,12.612,26.999,29.086,34.786,46.712\
									C291.665,154.734,294.672,176.253,277.528,189.022L277.528,189.022z')
							g
								path(fill='#808080', stroke='#000000', stroke-miterlimit='10', d='M276.045,171.723c-7.859-4.394-14.537-4.459-16.752-15.354\
								c-1.514-7.631-3.586-20.765-1.76-28.363c21.467-0.319,22.161,28.521,21.08,43.457')
								g
									path(fill='#808080', stroke='#000000', stroke-miterlimit='10', d='M277.114,171.463c-0.133,1.932,2.867,1.919,3,0\
									c1.145-16.623-0.096-44.728-22.58-44.957c-0.633-0.006-1.313,0.458-1.445,1.101c-1.963,9.439-0.668,21.422,2.105,30.645\
									c2.68,8.913,9.602,10.733,17.095,14.766c1.703,0.916,3.218-1.674,1.515-2.591c-7.08-3.81-14.304-5.422-16.063-14.457\
									c-1.722-8.835-3.621-18.61-1.761-27.565c-0.481,0.367-0.963,0.734-1.445,1.101C277.94,129.715,278.127,156.736,277.114,171.463\
									L277.114,171.463z')
						g#B3
							g
								path(stroke='#666666', stroke-miterlimit='10', d='M335.346,215.598c-12.93-4.063-21.797-21.056-29.644-30.406\
								c-17.269-21.879-5.336-47.905-2.819-71.958c24.979,19.481,66.938,74.293,32.495,101.675')
								g
									path(stroke='#666666', stroke-miterlimit='10', d='M333.258,212.788c-2.994,2.455,1.276,6.674,4.242,4.241\
									c36.674-30.071-6.02-85.045-32.494-105.917c-2.143-1.689-4.814-0.602-5.121,2.121c-2.377,21.11-11.949,44.325-2.039,64.902\
									c4.153,8.624,11.041,16.552,16.885,24.124c5.313,6.887,11.423,13.313,19.818,16.23c3.664,1.273,5.226-4.524,1.594-5.786\
									c-8.516-2.958-14.449-10.865-19.551-17.892c-5.324-7.333-12.314-14.592-14.977-23.4c-5.793-19.171,2.113-39.038,4.268-58.178\
									c-1.707,0.707-3.414,1.414-5.121,2.121c15.119,11.919,28.356,27.777,36.955,45.016\
									C346.454,177.883,350.139,198.945,333.258,212.788L333.258,212.788z')
							g
								path(fill='#808080', stroke='#000000', stroke-miterlimit='10', d='M331.458,195.181c-8.055-4.021-14.729-3.775-17.449-14.555\
								c-1.869-7.552-4.551-20.575-3.082-28.25c21.428-1.322,23.469,27.455,23.084,42.425')
								g
									path(fill='#808080', stroke='#000000', stroke-miterlimit='10', d='M332.51,194.801c-0.043,1.936,2.957,1.932,3,0.001\
									c0.367-16.6-2.135-44.744-24.584-43.925c-0.613,0.022-1.341,0.435-1.447,1.101c-1.518,9.518,0.303,21.446,3.498,30.514\
									c3.113,8.838,10.015,10.289,17.724,13.985c1.735,0.832,3.258-1.755,1.515-2.591c-7.219-3.461-14.596-4.78-16.761-13.659\
									c-2.134-8.755-4.524-18.414-3.082-27.452c-0.481,0.367-0.964,0.734-1.446,1.101C331.348,153.131,332.838,179.99,332.51,194.801\
									L332.51,194.801z')
						g#B2
							g
								path(stroke='#666666', stroke-miterlimit='10', d='M375.02,235.432c-11.752-6.752-16.75-25.257-22.397-36.078\
								c-12.149-25.085,5.11-47.929,12.75-70.875c20.196,24.405,49.361,86.97,9.827,106.289')
								g
									path(stroke='#666666', stroke-miterlimit='10', d='M373.684,232.176c-3.451,1.748-0.414,6.924,3.029,5.182\
									c42.697-21.613,12.252-84.797-9.22-111c-1.535-1.873-4.353-0.609-5.015,1.324c-6.827,19.975-21.189,40.672-16.088,62.763\
									c2.125,9.201,7.025,18.326,11.045,26.861c3.776,8.021,8.326,15.954,16.07,20.717c3.305,2.033,6.317-3.158,3.028-5.181\
									c-7.549-4.644-11.604-13.249-15.062-21.084c-3.445-7.808-8.348-16.013-9.6-24.506c-3.031-20.563,10.01-39.309,16.391-57.976\
									c-1.67,0.442-3.342,0.883-5.014,1.324c12.27,14.976,21.805,33.755,26.271,52.597\
									C393.938,201.818,392.666,222.568,373.684,232.176L373.684,232.176z')
							g
								path(fill='#808080', stroke='#000000', stroke-miterlimit='10', d='M375.621,214.657c-7-5.662-13.569-6.86-13.903-17.973\
								c-0.199-7.776-0.012-21.072,3.076-28.25c21.21,3.326,17.001,31.867,13.402,46.402')
								g
									path(fill='#808080', stroke='#000000', stroke-miterlimit='10', d='M376.75,214.438c-0.459,1.879,2.435,2.677,2.894,0.799\
									c3.92-16.073,7.629-44.213-14.449-48.246c-0.874-0.16-1.523,0.234-1.846,1.047c-3.496,8.837-4.229,20.863-3.035,30.243\
									c1.184,9.293,7.49,12.155,14.248,17.438c1.506,1.178,3.645-0.931,2.121-2.121c-3.035-2.373-6.725-4.219-9.451-6.942\
									c-3.461-3.456-4.021-7.616-4.057-12.332c-0.068-8.441-0.082-17.533,3.066-25.489c-0.615,0.349-1.23,0.698-1.846,1.047\
									C384.525,173.558,380.272,199.993,376.75,214.438L376.75,214.438z')
						g#B1
							g
								path(stroke='#666666', stroke-miterlimit='10', d='M415.042,254.943c-10.896-8.063-13.728-27.02-18.093-38.418\
								c-9.18-26.318,10.598-47.022,20.829-68.936c17.25,26.569,39.015,92.076-2.481,106.712')
								g
									path(stroke='#666666', stroke-miterlimit='10', d='M414.5,251.409c-3.6,1.323-2.045,7.125,1.594,5.784\
									c44.974-16.545,22.813-82.272,4.274-111.119c-1.123-1.747-4.16-2.146-5.181,0c-8.76,18.405-24.764,36.615-23.578,58.22\
									c0.541,9.858,4.439,19.556,7.479,28.89c2.854,8.764,6.366,18.002,13.834,23.879c3.004,2.365,7.28-1.85,4.241-4.242\
									c-7.397-5.822-10.466-15.163-13.11-23.858c-2.561-8.415-6.627-17.229-6.47-26.144c0.356-20.094,14.517-36.337,22.786-53.714\
									c-1.727,0-3.454,0-5.182,0c10.365,16.126,17.832,35.599,20.181,54.658C437.695,222.639,434.633,244.002,414.5,251.409\
									L414.5,251.409z')
							g
								path(fill='#808080', stroke='#000000', stroke-miterlimit='10', d='M418.032,234.376c-6.301-6.433-12.689-8.378-11.741-19.455\
								c0.699-7.748,2.416-20.934,6.312-27.708c20.686,5.747,13.218,33.613,7.968,47.637')
								g
									path(fill='#808080', stroke='#000000', stroke-miterlimit='10', d='M419.124,234.451c-0.673,1.818,2.227,2.595,2.893,0.799\
									c5.795-15.65,12.498-42.908-9.016-49.482c-0.623-0.191-1.384,0.111-1.693,0.689c-4.488,8.368-5.996,19.064-6.516,28.464\
									c-0.564,10.194,5.586,14.004,12.18,20.515c1.377,1.36,3.5-0.76,2.121-2.121c-2.52-2.489-5.516-4.563-7.882-7.198\
									c-3.233-3.604-3.784-7.634-3.312-12.339c0.863-8.592,1.853-18.076,5.998-25.807c-0.564,0.23-1.129,0.46-1.693,0.689\
									C431.71,194.62,424.245,220.62,419.124,234.451L419.124,234.451z')
						g#O5
							g
								path(stroke='#666666', stroke-miterlimit='10', d='M179.397,170.631c-11.584-7.04-30.205-2.496-42.407-2.228\
								c-27.835,1.45-39.525,27.586-55.947,45.343c31.12,5.926,99.993,1.311,97.857-42.638')
								g
									path(stroke='#666666', stroke-miterlimit='10', d='M181.9,171.108c-0.138-3.857-6.138-3.871-6.001,0\
									c0.761,21.291-17.225,32.707-35.788,37.551c-18.668,4.87-39.274,5.725-58.272,2.194c0.442,1.67,0.884,3.342,1.324,5.014\
									c11.84-12.967,20.848-30.587,36.623-39.367c8.909-4.958,18.204-4.974,28.08-5.922c9.839-0.943,21.025-2.424,30.018,2.644\
									c3.375,1.902,6.397-3.282,3.027-5.181c-10.043-5.661-22.011-4.533-33.045-3.463c-9.941,0.964-19.81,0.829-28.909,5.558\
									c-17.575,9.135-27.112,27.335-40.036,41.489c-1.399,1.533-1.022,4.577,1.324,5.014\
									C113.584,222.835,183.612,218.959,181.9,171.108L181.9,171.108z')
							g
								path(fill='#808080', stroke='#000000', stroke-miterlimit='10', d='M161.487,181.174c-8.335-3.403-12.553-8.581-22.451-3.515\
								c-6.908,3.575-18.466,10.148-23.266,16.316c13.141,16.977,36.115-0.471,47.115-10.632')
								g
									path(fill='#808080', stroke='#000000', stroke-miterlimit='10', d='M163.946,184.404c1.43-1.309-0.698-3.425-2.122-2.12\
									c-11.039,10.109-31.963,26.433-44.995,10.632c0,0.707,0,1.414,0,2.121c5.142-6.201,12.574-10.49,19.579-14.282\
									c4.103-2.221,8.634-4.813,13.448-3.247c3.795,1.233,7.217,3.386,10.873,4.962c1.757,0.757,3.285-1.827,1.514-2.591\
									c-8.419-3.629-14.838-8.279-23.965-3.515c-8.339,4.353-17.47,9.195-23.569,16.551c-0.562,0.677-0.559,1.444,0,2.121\
									C128.986,212.348,151.682,195.634,163.946,184.404L163.946,184.404z')
						g#O4
							g
								path(stroke='#666666', stroke-miterlimit='10', d='M238.397,187.631c-11.584-7.04-30.205-2.496-42.407-2.228\
								c-27.835,1.45-39.524,27.586-55.947,45.343c31.12,5.926,99.993,1.311,97.857-42.638')
								g
									path(stroke='#666666', stroke-miterlimit='10', d='M240.9,188.108c-0.138-3.857-6.138-3.871-6.001,0\
									c0.761,21.291-17.225,32.707-35.788,37.551c-18.668,4.87-39.274,5.725-58.272,2.194c0.442,1.67,0.883,3.342,1.324,5.014\
									c11.84-12.967,20.848-30.588,36.623-39.367c8.909-4.958,18.204-4.974,28.08-5.922c9.839-0.943,21.025-2.424,30.018,2.644\
									c3.375,1.902,6.397-3.282,3.027-5.181c-10.043-5.661-22.011-4.533-33.045-3.463c-9.941,0.964-19.811,0.829-28.909,5.558\
									c-17.575,9.135-27.112,27.335-40.036,41.489c-1.4,1.533-1.022,4.577,1.324,5.014C172.584,239.835,242.612,235.959,240.9,188.108\
									L240.9,188.108z')
							g
								path(fill='#999999', stroke='#000000', stroke-miterlimit='10', d='M220.487,198.174c-8.335-3.403-12.553-8.581-22.451-3.515\
								c-6.908,3.575-18.466,10.147-23.266,16.315c13.141,16.978,36.115-0.471,47.115-10.632')
								g
									path(fill='#999999', stroke='#000000', stroke-miterlimit='10', d='M222.946,201.404c1.43-1.309-0.698-3.425-2.122-2.12\
									c-11.039,10.108-31.963,26.433-44.995,10.632c0,0.707,0,1.414,0,2.121c5.143-6.201,12.574-10.49,19.579-14.282\
									c4.103-2.221,8.634-4.813,13.448-3.247c3.795,1.233,7.217,3.386,10.873,4.962c1.757,0.757,3.285-1.827,1.514-2.591\
									c-8.419-3.629-14.838-8.279-23.965-3.515c-8.34,4.353-17.471,9.194-23.569,16.551c-0.562,0.677-0.559,1.444,0,2.121\
									C187.986,229.348,210.682,212.634,222.946,201.404L222.946,201.404z')
						g#O3
							g
								path(stroke='#666666', stroke-miterlimit='10', d='M293.397,209.631c-11.584-7.04-30.205-2.496-42.407-2.229\
								c-27.835,1.451-39.524,27.587-55.947,45.344c31.12,5.926,99.993,1.311,97.857-42.639')
								g
									path(stroke='#666666', stroke-miterlimit='10', d='M295.9,210.107c-0.138-3.856-6.138-3.871-6.001,0\
									c0.761,21.291-17.225,32.707-35.788,37.552c-18.668,4.87-39.274,5.725-58.272,2.194c0.442,1.67,0.883,3.342,1.324,5.014\
									c11.84-12.967,20.848-30.588,36.623-39.367c8.909-4.958,18.204-4.975,28.08-5.922c9.839-0.943,21.025-2.424,30.018,2.645\
									c3.375,1.901,6.397-3.283,3.027-5.182c-10.043-5.661-22.011-4.533-33.045-3.463c-9.941,0.964-19.811,0.829-28.909,5.558\
									c-17.575,9.136-27.112,27.335-40.036,41.489c-1.4,1.533-1.022,4.577,1.324,5.014C227.584,261.835,297.612,257.959,295.9,210.107\
									L295.9,210.107z')
							g
								path(fill='#999999', stroke='#000000', stroke-miterlimit='10', d='M275.487,220.174c-8.335-3.402-12.553-8.581-22.451-3.515\
								c-6.908,3.575-18.466,10.147-23.266,16.315c13.141,16.978,36.115-0.471,47.115-10.632')
								g
									path(fill='#999999', stroke='#000000', stroke-miterlimit='10', d='M277.946,223.404c1.43-1.309-0.698-3.426-2.122-2.12\
									c-11.039,10.108-31.963,26.433-44.995,10.632c0,0.707,0,1.414,0,2.121c5.143-6.201,12.574-10.49,19.579-14.282\
									c4.103-2.221,8.634-4.813,13.448-3.247c3.795,1.233,7.217,3.387,10.873,4.963c1.757,0.756,3.285-1.828,1.514-2.592\
									c-8.419-3.629-14.838-8.279-23.965-3.515c-8.34,4.353-17.471,9.194-23.569,16.551c-0.562,0.677-0.559,1.444,0,2.121\
									C242.986,251.348,265.682,234.634,277.946,223.404L277.946,223.404z')
						g#O2
							g
								path(stroke='#666666', stroke-miterlimit='10', d='M346.397,233.631c-11.584-7.04-30.205-2.496-42.407-2.229\
								c-27.835,1.451-39.524,27.587-55.947,45.344c31.12,5.926,99.993,1.311,97.857-42.639')
								g
									path(stroke='#666666', stroke-miterlimit='10', d='M348.9,234.107c-0.138-3.856-6.138-3.871-6.001,0\
									c0.761,21.291-17.225,32.707-35.788,37.551c-18.668,4.871-39.274,5.725-58.272,2.193c0.442,1.672,0.883,3.344,1.324,5.015\
									c11.84-12.966,20.848-30.587,36.623-39.367c8.909-4.957,18.204-4.974,28.08-5.922c9.839-0.943,21.025-2.425,30.018,2.644\
									c3.375,1.902,6.397-3.281,3.027-5.181c-10.043-5.661-22.011-4.533-33.045-3.463c-9.941,0.965-19.811,0.83-28.909,5.559\
									c-17.575,9.136-27.112,27.335-40.036,41.489c-1.4,1.533-1.023,4.577,1.324,5.014C280.584,285.835,350.612,281.959,348.9,234.107\
									L348.9,234.107z')
							g
								path(fill='#999999', stroke='#000000', stroke-miterlimit='10', d='M328.487,244.175c-8.335-3.403-12.553-8.579-22.451-3.515\
								c-6.908,3.574-18.466,10.148-23.266,16.316c13.141,16.976,36.115-0.473,47.115-10.633')
								g
									path(fill='#999999', stroke='#000000', stroke-miterlimit='10', d='M330.946,247.404c1.43-1.309-0.698-3.426-2.122-2.12\
									c-11.039,10.108-31.963,26.433-44.995,10.632c0,0.707,0,1.414,0,2.121c5.143-6.201,12.574-10.49,19.579-14.282\
									c4.103-2.221,8.634-4.813,13.449-3.247c3.794,1.234,7.216,3.387,10.872,4.963c1.757,0.756,3.285-1.828,1.514-2.592\
									c-8.419-3.629-14.839-8.279-23.965-3.515c-8.34,4.353-17.471,9.194-23.569,16.551c-0.562,0.677-0.559,1.444,0,2.121\
									C295.986,275.348,318.682,258.634,330.946,247.404L330.946,247.404z')
						g#O1
							g
								path(stroke='#666666', stroke-miterlimit='10', d='M400.397,258.631c-11.584-7.04-30.205-2.496-42.407-2.229\
								c-27.835,1.451-39.524,27.586-55.947,45.344c31.12,5.926,99.993,1.311,97.857-42.639')
								g
									path(stroke='#666666', stroke-miterlimit='10', d='M402.9,259.107c-0.138-3.856-6.138-3.871-6.001-0.002\
									c0.761,21.291-17.225,32.707-35.788,37.552c-18.668,4.87-39.274,5.724-58.272,2.194c0.442,1.67,0.883,3.342,1.324,5.014\
									c11.84-12.967,20.848-30.588,36.623-39.367c8.909-4.957,18.204-4.975,28.08-5.922c9.839-0.943,21.025-2.424,30.018,2.644\
									c3.375,1.902,6.397-3.282,3.027-5.181c-10.043-5.661-22.011-4.533-33.045-3.463c-9.941,0.965-19.811,0.83-28.909,5.559\
									c-17.575,9.135-27.112,27.336-40.036,41.489c-1.4,1.534-1.023,4.578,1.324,5.015C334.584,310.835,404.612,306.959,402.9,259.107\
									L402.9,259.107z')
							g
								path(fill='#999999', stroke='#000000', stroke-miterlimit='10', d='M382.487,269.175c-8.335-3.403-12.553-8.579-22.451-3.515\
								c-6.908,3.574-18.466,10.148-23.266,16.316c13.141,16.976,36.115-0.473,47.115-10.633')
								g
									path(fill='#999999', stroke='#000000', stroke-miterlimit='10', d='M384.946,272.404c1.43-1.309-0.698-3.426-2.122-2.12\
									c-11.039,10.108-31.963,26.433-44.995,10.632c0,0.707,0,1.414,0,2.121c5.143-6.201,12.574-10.49,19.579-14.282\
									c4.103-2.221,8.634-4.813,13.448-3.247c3.795,1.234,7.217,3.387,10.873,4.963c1.757,0.756,3.285-1.828,1.514-2.592\
									c-8.419-3.629-14.839-8.279-23.965-3.515c-8.34,4.353-17.471,9.194-23.569,16.551c-0.562,0.677-0.559,1.444,0,2.121\
									C349.986,300.348,372.682,283.634,384.946,272.404L384.946,272.404z')
						g#top
							g
								path(stroke='#666666', stroke-miterlimit='10', d='M149.993,161.292c-12.833,4.359-30.027-4.113-41.881-7.021\
								c-26.858-7.452-32.605-35.5-44.784-56.394c31.663,0.961,97.897,20.399,86.284,62.839')
								g
									path(stroke='#666666', stroke-miterlimit='10', d='M146.719,159.919c-0.973,3.748,4.814,5.337,5.784,1.595\
									c12.027-46.369-55.126-65.446-89.177-66.637c-2.31-0.081-3.692,2.598-2.591,4.514c9.422,16.398,14.772,37.28,30.28,49.372\
									c8.173,6.373,17.446,8.554,27.124,11.691c10.403,3.373,21.764,7.021,32.649,3.73c3.693-1.117,2.118-6.909-1.595-5.786\
									c-10.75,3.25-22.136-1.383-32.328-4.664c-9.339-3.006-18.157-5.199-25.251-12.492c-12.191-12.532-17.148-29.998-25.697-44.879\
									c-0.864,1.505-1.728,3.009-2.591,4.514c19.347,0.677,39.779,5.832,56.883,14.937\
									C136.977,124.739,152.051,139.367,146.719,159.919L146.719,159.919z')
							g
								path(fill='#808080', stroke='#000000', stroke-miterlimit='10', d='M134.794,147.116c-8.875,1.513-14.115,5.654-22.678-1.436\
								c-5.969-4.989-15.826-13.912-19.175-20.973c16.508-13.725,35.153,8.288,43.688,20.594')
								g
									path(fill='#808080', stroke='#000000', stroke-miterlimit='10', d='M135.333,146.059c1.101,1.571,3.703,0.074,2.591-1.514\
									c-9.734-13.909-28.138-34.872-46.044-20.897c-0.543,0.423-0.515,1.271-0.234,1.817c4.559,8.893,13.005,16.328,20.807,22.357\
									c7.276,5.622,14.72,2.261,22.74,0.741c1.899-0.36,1.093-3.251-0.798-2.893c-3.949,0.748-8.175,2.606-12.221,2.525\
									c-4.923-0.098-8.386-2.954-11.912-6.066c-5.983-5.282-12.34-10.987-16.026-18.178c-0.079,0.605-0.157,1.211-0.235,1.817\
									C109.918,113.345,126.944,134.071,135.333,146.059L135.333,146.059z')

				article
					div(class='go')
						h2 WANNA GO OUT?
						p #{message}
						div(class='search')
							form(action='/search', method='post', autocomplete='off')
								input(type='text', name='search', placeholder=' Search for restaurant name or place name' style='width: 300px')
								br
								br
								button(type='search') Search
						.container


					
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
					script(src='js/index.js')
