doctype html
html
	head
		link(href='https://fonts.googleapis.com/css?family=Cabin+Sketch:700|Julius+Sans+One|Monoton|Sintony:400,700', rel='stylesheet')
		meta(name='viewport', content='width=device-width, initial-scale=1')

	
		style
			include ../public/css/index.css
			include ../public/js/index.js

		title gluNO
	body
		section(class='container')
			div(class='left')
				article
					div(class='share')
						h2 WANNA&nbsp;
							div(class='words')
								span(class='middle') SHARE?&nbsp;
								span(class='top') CONTRIBUTE?&nbsp;
								span(class='bottom') CARE? 
						p #{messageL}
					div(class='form')
						form(action='/add', method='post', autocomplete='off')
							input(type='text', name='Name', placeholder=' Name of the Restaurant', style='width: 350px')
							br
							input(type='text', name='Address', placeholder=' streetname + #no', style='width: 350px')
							br
							input(type='text', name=' City', placeholder=' City', style='width: 350px')
							br
							input(type='text', name='Website', placeholder=' Website', style='width: 350px')
							br
							textarea(type='text', name='info', placeholder='Description: e.g. what do they offer? Special menu\'s?' style='width: 350px; height: 70px')
							br
							button(type='submit', name='add') Pay it Forward

			div(class='right')
				article
					div(class='go')
						h2 WANNA GO OUT?
						p #{message}
						div(class='search')
							form(action='/search', method='post', autocomplete='off')
								input(type='text', name='search', placeholder=' Search for restaurant name or place name' style='width: 300px')
								br
								br
								button(type='search') Search
			div(class='wrapper')
					svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='479.832px', height='270.151px', viewbox='0 0 479.832 270.151', enable-background='new 0 0 479.832 270.151', xml:space='preserve')
						g#takje_1_
							g
								path(fill='#FFC015', d='M6.455,269.271c12-9.052,25.351-15.868,38.503-23.047c14.392-7.855,28.85-15.59,43.316-23.308\
								c28.652-15.287,57.125-30.905,85.753-46.235c53.304-28.545,110.115-49.909,168.486-65.486c15.738-4.2,31.599-7.937,47.525-11.348\
								c5.674-1.215,3.268-9.891-2.393-8.679c-58.551,12.538-115.865,30.202-170.631,54.512c-28.485,12.645-55.584,27.763-82.976,42.558\
								c-28.85,15.583-57.881,30.826-86.708,46.453c-15.43,8.363-31.363,16.205-45.419,26.808C-2.66,264.947,1.817,272.769,6.455,269.271\
								L6.455,269.271z')
						g#Blaadjes
							g#top_1_
								g
									path(fill='#FFC03F', d='M390.572,96.906c-11.614-42.44,54.621-61.878,86.284-62.839C464.677,54.96,458.93,83.009,432.072,90.46\
									c-11.854,2.908-29.048,11.38-41.881,7.021')
									g
										path(fill='#E9A400', d='M393.464,96.108c-5.33-20.552,9.742-35.18,26.509-44.105c17.104-9.105,37.535-14.26,56.883-14.937\
										c-0.863-1.505-1.727-3.009-2.591-4.514c-8.549,14.881-13.506,32.347-25.697,44.879c-7.095,7.293-15.911,9.486-25.251,12.492\
										c-10.192,3.281-21.579,7.914-32.328,4.664c-3.714-1.123-5.289,4.669-1.596,5.786c10.886,3.291,22.247-0.357,32.65-3.73\
										c9.677-3.137,18.95-5.318,27.123-11.691c15.508-12.092,20.858-32.974,30.28-49.372c1.101-1.916-0.281-4.595-2.591-4.514\
										c-34.051,1.191-101.204,20.268-89.177,66.637C388.65,101.446,394.437,99.857,393.464,96.108L393.464,96.108z')
								g
									path(fill='#FDF57A', d='M403.554,81.491c8.534-12.306,27.18-34.319,43.688-20.594c-3.349,7.061-13.206,15.984-19.175,20.973\
									c-8.563,7.09-13.803,2.949-22.678,1.436')
									g
										path(fill='#FBB03B', d='M404.849,82.248c8.391-11.988,25.416-32.714,41.333-20.291c-0.078-0.606-0.156-1.212-0.234-1.817\
										c-3.688,7.191-10.044,12.896-16.027,18.178c-3.525,3.112-6.989,5.968-11.911,6.066c-4.047,0.081-8.271-1.777-12.221-2.525\
										c-1.89-0.358-2.696,2.533-0.797,2.893c8.02,1.52,15.464,4.881,22.739-0.741c7.802-6.029,16.247-13.464,20.807-22.357\
										c0.28-0.546,0.309-1.394-0.234-1.817c-17.906-13.975-36.309,6.988-46.044,20.897C401.147,82.323,403.75,83.82,404.849,82.248\
										L404.849,82.248z')
							g#B4
								g
									path(fill='#FFC03F', d='M261.142,126.802c-35.683-25.746,3.672-82.456,27.716-103.081c3.636,23.909,16.771,49.35,0.542,72.011\
									c-7.402,9.706-15.468,27.093-28.193,31.756')
									g
										path(fill='#E9A400', d='M262.656,124.212c-17.143-12.769-14.137-34.288-6.463-51.657c7.787-17.626,20.238-34.1,34.786-46.712\
										c-1.671-0.441-3.343-0.882-5.014-1.324c3.07,19.165,12.109,38.841,6.549,58.363c-2.391,8.392-8.738,15.635-13.476,22.846\
										c-4.748,7.227-10.275,15.521-18.63,18.867c-3.545,1.42-1.999,7.226,1.596,5.786c8.314-3.332,13.996-9.932,19.105-17.055\
										c2.615-3.646,4.982-7.469,7.456-11.21c2.845-4.303,6.012-8.265,8.028-13.069c9.129-21.752-1.357-44.368-4.844-66.123\
										c-0.386-2.413-3.494-2.642-5.014-1.324c-26.015,22.553-65.556,79.158-27.108,107.792\
										C262.735,131.707,265.721,126.495,262.656,124.212L262.656,124.212z')
								g
									path(fill='#FDF57A', d='M261.57,106.652c-1.081-14.936-0.387-43.776,21.08-43.457c1.826,7.598-0.246,20.732-1.76,28.363\
									c-2.215,10.895-8.893,10.96-16.752,15.354')
									g
										path(fill='#FBB03B', d='M263.07,106.652c-1.015-14.727-0.827-41.748,19.58-41.957c-0.482-0.367-0.964-0.734-1.446-1.101\
										c1.861,8.955-0.039,18.73-1.76,27.565c-1.76,9.035-8.984,10.647-16.063,14.457c-1.704,0.917-0.189,3.507,1.514,2.591\
										c7.493-4.033,14.415-5.853,17.095-14.766c2.773-9.223,4.068-21.206,2.106-30.645c-0.134-0.643-0.813-1.107-1.446-1.101\
										c-22.485,0.229-23.725,28.334-22.58,44.957C260.202,108.571,263.203,108.584,263.07,106.652L263.07,106.652z')
							g#B1
								g
									path(fill='#FFC03F', d='M124.886,189.491c-41.496-14.636-19.731-80.143-2.481-106.712c10.232,21.913,30.008,42.617,20.829,68.935\
									c-4.365,11.399-7.198,30.356-18.093,38.418')
									g
										path(fill='#E9A400', d='M125.683,186.599c-20.132-7.407-23.194-28.771-20.868-47.647c2.349-19.059,9.816-38.532,20.18-54.658\
										c-1.727,0-3.454,0-5.181,0c8.27,17.377,22.43,33.62,22.786,53.715c0.158,8.913-3.909,17.728-6.469,26.143\
										c-2.645,8.695-5.714,18.036-13.111,23.859c-3.039,2.392,1.238,6.607,4.242,4.242c7.467-5.878,10.98-15.116,13.833-23.879\
										c3.039-9.335,6.938-19.031,7.479-28.89c1.186-21.605-14.819-39.815-23.578-58.22c-1.021-2.146-4.058-1.747-5.181,0\
										c-18.539,28.847-40.699,94.573,4.274,111.119C127.728,193.723,129.283,187.923,125.683,186.599L125.683,186.599z')
								g
									path(fill='#FDF57A', d='M119.614,170.039c-5.25-14.024-12.718-41.89,7.968-47.637c3.895,6.774,5.612,19.96,6.311,27.708\
									c0.949,11.077-5.441,13.023-11.741,19.455')
									g
										path(fill='#FBB03B', d='M121.06,169.64c-5.121-13.831-12.587-39.831,6.92-45.792c-0.565-0.229-1.129-0.459-1.694-0.689\
										c4.146,7.731,5.136,17.215,5.999,25.808c0.473,4.705-0.078,8.734-3.312,12.338c-2.366,2.636-5.362,4.709-7.882,7.199\
										c-1.378,1.361,0.744,3.481,2.121,2.121c6.594-6.511,12.744-10.321,12.18-20.515c-0.52-9.4-2.027-20.096-6.515-28.464\
										c-0.31-0.578-1.071-0.88-1.694-0.689c-21.513,6.574-14.811,33.831-9.015,49.481C118.833,172.235,121.733,171.458,121.06,169.64\
										L121.06,169.64z')
							g#B5
								g
									path(fill='#FFC03F', d='M318.958,109.522c-39.92-18.509-12.036-81.655,7.658-106.466c8.106,22.785,25.828,45.272,14.192,70.601\
									c-5.427,10.933-10.047,29.535-21.657,36.527')
									g
										path(fill='#E9A400', d='M320.472,106.932c-19.383-9.317-20.957-30.311-16.777-49.172c4.149-18.726,13.188-37.498,25.043-52.583\
										c-1.671-0.441-3.343-0.882-5.014-1.324c6.609,18.129,18.936,35.506,17.813,55.543c-0.513,9.146-5.631,17.885-9.068,26.238\
										c-3.313,8.054-7.241,17.074-14.831,21.959c-3.241,2.086-0.236,7.282,3.027,5.181c7.658-4.929,12.047-12.905,15.667-21.02\
										c3.823-8.568,8.501-17.685,10.472-26.868c4.782-22.293-10.031-42.706-17.295-62.628c-0.682-1.87-3.49-3.263-5.014-1.324\
										c-20.896,26.588-50.177,90.448-7.051,111.178C320.914,113.781,323.959,108.608,320.472,106.932L320.472,106.932z')
								g
									path(fill='#FDF57A', d='M315.556,89.658c-3.895-14.459-8.685-42.908,12.453-46.666c3.234,7.114,3.692,20.402,3.652,28.181\
									c-0.107,11.118-6.652,12.449-13.534,18.252')
									g
										path(fill='#FBB03B', d='M317.002,89.259c-3.812-14.349-8.638-40.736,11.405-44.821c-0.615-0.349-1.229-0.698-1.845-1.047\
										c3.313,7.896,3.489,16.974,3.595,25.42c0.059,4.707-0.397,8.898-3.783,12.42c-2.675,2.782-6.318,4.697-9.308,7.134\
										c-1.501,1.223,0.636,3.333,2.121,2.121c6.633-5.407,12.919-8.42,13.91-17.717c1-9.386,0.026-21.431-3.643-30.176\
										c-0.333-0.795-0.962-1.228-1.845-1.047c-21.998,4.483-17.754,32.498-13.501,48.511C314.606,91.925,317.5,91.131,317.002,89.259\
										L317.002,89.259z')
							g#O5
								g
									path(fill='#FFC03F', d='M361.284,107.298c-2.136,43.949,66.737,48.564,97.857,42.638c-16.422-17.757-28.112-43.893-55.947-45.343\
									c-12.202-0.268-30.824-4.812-42.407,2.228')
									g
										path(fill='#E9A400', d='M358.284,107.298c-1.712,47.851,68.315,51.727,101.655,45.53c2.347-0.436,2.724-3.48,1.323-5.014\
										c-12.924-14.154-22.461-32.354-40.036-41.489c-9.099-4.729-18.968-4.594-28.908-5.558c-11.034-1.07-23.003-2.198-33.045,3.463\
										c-3.37,1.899-0.347,7.083,3.027,5.181c8.991-5.068,20.179-3.587,30.018-2.644c9.876,0.948,19.172,0.964,28.079,5.922\
										c15.775,8.78,24.784,26.401,36.623,39.367c0.441-1.671,0.882-3.343,1.323-5.014c-18.997,3.53-39.604,2.677-58.272-2.194\
										c-18.563-4.844-36.549-16.26-35.787-37.551C364.422,103.427,358.421,103.44,358.284,107.298L358.284,107.298z')
								g
									path(fill='#FDF57A', d='M377.298,119.533c11,10.161,33.975,27.609,47.116,10.632c-4.8-6.168-16.358-12.741-23.266-16.316\
									c-9.898-5.066-14.116,0.112-22.451,3.515')
									g
										path(fill='#FBB03B', d='M376.238,120.593c12.263,11.23,34.96,27.944,49.237,10.632c0.559-0.677,0.562-1.444,0-2.121\
										c-6.099-7.356-15.23-12.198-23.569-16.551c-9.127-4.764-15.546-0.114-23.965,3.515c-1.772,0.764-0.243,3.348,1.514,2.591\
										c3.656-1.576,7.078-3.729,10.872-4.962c4.815-1.566,9.346,1.026,13.449,3.247c7.005,3.792,14.437,8.081,19.578,14.282\
										c0-0.707,0-1.414,0-2.121c-13.032,15.801-33.956-0.523-44.995-10.632C376.935,117.168,374.808,119.284,376.238,120.593\
										L376.238,120.593z')
							g#B6
								g
									path(fill='#FFC03F', d='M351.089,103.876c-29.639-32.521,20.52-79.946,48.284-95.197c-1.349,24.146,6.284,51.742-14.251,70.588\
									c-9.236,7.979-20.699,23.342-34.111,25.293')
									g
										path(fill='#E9A400', d='M353.21,101.755c-14.103-15.954-7.075-35.916,3.803-51.466C368.11,34.426,384,20.662,400.888,11.27\
										c-1.505-0.863-3.01-1.727-4.515-2.59c-0.9,18.467,3.579,38.577-4.239,56.055c-3.812,8.521-11.297,14.267-17.733,20.72\
										c-6.831,6.848-14.282,14.45-24.188,16.213c-3.805,0.678-2.188,6.459,1.596,5.786c9.954-1.772,17.777-8.879,24.774-15.711\
										c7.228-7.057,15.318-13.68,20.115-22.718c9.747-18.362,4.71-40.555,5.675-60.346c0.114-2.341-2.613-3.647-4.515-2.59\
										c-29.947,16.655-80.622,64.014-48.891,99.908C351.536,108.902,355.763,104.642,353.21,101.755L353.21,101.755z')
								g
									path(fill='#FDF57A', d='M355.644,84.243c2.008-14.84,8.606-42.924,29.551-38.204c0.228,7.811-4.496,20.24-7.544,27.397\
									c-4.404,10.208-10.953,8.901-19.546,11.588')
									g
										path(fill='#FBB03B', d='M357.09,84.642c2.021-14.549,7.731-41.124,27.706-37.157c-0.367-0.482-0.734-0.964-1.102-1.446\
										c-0.016,8.895-3.673,17.783-7.021,25.887c-3.729,9.026-10.713,9.215-18.967,11.652c-1.852,0.546-1.063,3.442,0.797,2.893\
										c8.131-2.4,15.354-2.738,19.799-10.896c4.617-8.474,8.375-19.85,8.393-29.536c0.001-0.63-0.454-1.318-1.102-1.446\
										c-22.09-4.387-29.09,22.658-31.396,39.251C353.935,85.735,356.826,86.551,357.09,84.642L357.09,84.642z')
							g#B2
								g
									path(fill='#FFC03F', d='M164.984,169.956c-39.534-19.318-10.369-81.883,9.827-106.288c7.64,22.946,24.899,45.79,12.75,70.875\
									c-5.648,10.821-10.646,29.325-22.397,36.078')
									g
										path(fill='#E9A400', d='M166.499,167.366c-18.981-9.608-20.253-30.357-15.838-48.98c4.467-18.842,14.002-37.621,26.272-52.597\
										c-1.671-0.441-3.343-0.882-5.014-1.324c6.381,18.667,19.422,37.413,16.391,57.976c-1.252,8.493-6.154,16.698-9.599,24.506\
										c-3.457,7.835-7.513,16.44-15.062,21.084c-3.289,2.022-0.277,7.214,3.028,5.181c7.744-4.764,12.294-12.697,16.071-20.718\
										c4.019-8.535,8.92-17.659,11.045-26.86c5.101-22.091-9.261-42.788-16.089-62.763c-0.661-1.933-3.479-3.197-5.014-1.324\
										c-21.471,26.203-51.917,89.387-9.22,111C166.914,174.289,169.952,169.113,166.499,167.366L166.499,167.366z')
								g
									path(fill='#FDF57A', d='M161.988,150.026c-3.599-14.535-7.808-43.076,13.402-46.402c3.088,7.178,3.275,20.474,3.077,28.25\
									c-0.334,11.113-6.904,12.311-13.904,17.973')
									g
										path(fill='#FBB03B', d='M163.434,149.627c-3.523-14.445-7.775-40.88,12.354-44.557c-0.615-0.349-1.23-0.698-1.845-1.047\
										c3.148,7.956,3.134,17.048,3.067,25.489c-0.037,4.716-0.597,8.876-4.057,12.332c-2.727,2.724-6.417,4.57-9.452,6.943\
										c-1.523,1.19,0.616,3.298,2.121,2.121c6.759-5.284,13.065-8.146,14.248-17.439c1.194-9.38,0.462-21.406-3.035-30.243\
										c-0.322-0.813-0.971-1.207-1.845-1.047c-22.078,4.033-18.37,32.173-14.449,48.247C161,152.304,163.893,151.506,163.434,149.627\
										L163.434,149.627z')
							g#B3
								g
									path(fill='#FFC03F', d='M204.805,150.099c-34.443-27.382,7.516-82.194,32.495-101.675c2.517,24.053,14.45,50.079-2.819,71.958\
									c-7.847,9.35-16.714,26.342-29.644,30.406')
									g
										path(fill='#E9A400', d='M206.926,147.978c-16.881-13.843-13.196-34.905-4.46-52.417c8.599-17.239,21.837-33.097,36.955-45.016\
										c-1.707-0.707-3.414-1.414-5.121-2.121c2.154,19.14,10.061,39.007,4.268,58.178c-2.662,8.808-9.653,16.067-14.977,23.4\
										c-5.101,7.027-11.035,14.934-19.551,17.893c-3.631,1.261-2.07,7.059,1.595,5.785c8.395-2.917,14.504-9.343,19.818-16.23\
										c5.843-7.572,12.731-15.5,16.884-24.124c9.91-20.577,0.338-43.792-2.038-64.902c-0.307-2.723-2.979-3.81-5.121-2.121\
										c-26.475,20.871-69.168,75.845-32.495,105.917C205.649,154.652,209.92,150.433,206.926,147.978L206.926,147.978z')
								g
									path(fill='#FDF57A', d='M206.173,129.991c-0.384-14.97,1.656-43.747,23.084-42.425c1.469,7.675-1.213,20.698-3.082,28.25\
									c-2.72,10.78-9.394,10.534-17.449,14.555')
									g
										path(fill='#FBB03B', d='M207.673,129.991c-0.328-14.811,1.162-41.67,21.584-40.925c-0.482-0.367-0.964-0.734-1.446-1.101\
										c1.442,9.038-0.948,18.697-3.082,27.452c-2.165,8.879-9.542,10.198-16.76,13.659c-1.744,0.836-0.222,3.423,1.514,2.591\
										c7.709-3.696,14.61-5.147,17.724-13.985c3.195-9.068,5.015-20.996,3.497-30.514c-0.106-0.666-0.833-1.079-1.446-1.101\
										c-22.45-0.819-24.952,27.325-24.584,43.925C204.716,131.922,207.716,131.926,207.673,129.991L207.673,129.991z')
							g#O4
								g
									path(fill='#FFC03F', d='M302.284,124.298c-2.136,43.949,66.737,48.564,97.857,42.638c-16.422-17.757-28.112-43.893-55.947-45.343\
									c-12.202-0.268-30.824-4.812-42.407,2.228')
									g
										path(fill='#E9A400', d='M299.284,124.298c-1.712,47.851,68.315,51.727,101.655,45.53c2.347-0.436,2.724-3.48,1.323-5.014\
										c-12.924-14.154-22.461-32.354-40.036-41.489c-9.099-4.729-18.968-4.594-28.908-5.558c-11.034-1.07-23.003-2.198-33.045,3.463\
										c-3.37,1.899-0.347,7.083,3.027,5.181c8.991-5.068,20.179-3.587,30.018-2.644c9.876,0.948,19.172,0.964,28.079,5.922\
										c15.775,8.78,24.784,26.401,36.623,39.367c0.441-1.671,0.882-3.343,1.323-5.014c-18.997,3.53-39.604,2.677-58.272-2.194\
										c-18.563-4.844-36.549-16.26-35.787-37.551C305.422,120.427,299.421,120.44,299.284,124.298L299.284,124.298z')
								g
									path(fill='#FDF57A', d='M318.298,136.533c11,10.161,33.975,27.609,47.116,10.632c-4.8-6.168-16.358-12.741-23.266-16.316\
									c-9.898-5.066-14.116,0.112-22.451,3.515')
									g
										path(fill='#FBB03B', d='M317.238,137.593c12.263,11.23,34.96,27.944,49.237,10.632c0.559-0.677,0.562-1.444,0-2.121\
										c-6.099-7.356-15.23-12.198-23.569-16.551c-9.127-4.764-15.546-0.114-23.965,3.515c-1.772,0.764-0.243,3.348,1.514,2.591\
										c3.656-1.576,7.078-3.729,10.872-4.962c4.815-1.566,9.346,1.026,13.449,3.247c7.005,3.792,14.437,8.081,19.578,14.282\
										c0-0.707,0-1.414,0-2.121c-13.032,15.801-33.956-0.523-44.995-10.632C317.935,134.168,315.808,136.284,317.238,137.593\
										L317.238,137.593z')
							g#O3
								g
									path(fill='#FFC03F', d='M247.284,146.298c-2.136,43.949,66.737,48.564,97.857,42.638c-16.422-17.757-28.112-43.893-55.947-45.343\
									c-12.202-0.268-30.824-4.812-42.407,2.228')
									g
										path(fill='#E9A400', d='M244.284,146.298c-1.712,47.851,68.315,51.727,101.655,45.53c2.347-0.436,2.724-3.48,1.323-5.014\
										c-12.924-14.154-22.461-32.354-40.036-41.489c-9.099-4.729-18.968-4.594-28.908-5.558c-11.034-1.07-23.003-2.198-33.045,3.463\
										c-3.37,1.899-0.347,7.083,3.027,5.181c8.991-5.068,20.179-3.587,30.018-2.644c9.876,0.948,19.172,0.964,28.079,5.922\
										c15.775,8.779,24.784,26.401,36.623,39.367c0.441-1.671,0.882-3.343,1.323-5.014c-18.997,3.53-39.604,2.677-58.272-2.194\
										c-18.563-4.844-36.549-16.26-35.787-37.551C250.422,142.427,244.421,142.44,244.284,146.298L244.284,146.298z')
								g
									path(fill='#FDF57A', d='M263.298,158.533c11,10.161,33.975,27.609,47.116,10.632c-4.8-6.168-16.358-12.741-23.266-16.316\
									c-9.898-5.066-14.116,0.112-22.451,3.515')
									g
										path(fill='#FBB03B', d='M262.238,159.593c12.263,11.23,34.96,27.945,49.237,10.632c0.559-0.677,0.562-1.444,0-2.121\
										c-6.099-7.356-15.23-12.198-23.569-16.551c-9.127-4.764-15.546-0.114-23.965,3.515c-1.772,0.764-0.243,3.348,1.514,2.591\
										c3.656-1.576,7.078-3.729,10.872-4.962c4.815-1.566,9.346,1.026,13.449,3.247c7.005,3.792,14.437,8.081,19.578,14.282\
										c0-0.707,0-1.414,0-2.121c-13.031,15.802-33.956-0.523-44.995-10.632C262.935,156.168,260.808,158.284,262.238,159.593\
										L262.238,159.593z')
							g#O2
								g
									path(fill='#FFC03F', d='M194.284,170.298c-2.136,43.949,66.737,48.564,97.857,42.638c-16.422-17.757-28.112-43.893-55.947-45.343\
									c-12.202-0.268-30.824-4.812-42.407,2.228')
									g
										path(fill='#E9A400', d='M191.284,170.298c-1.712,47.851,68.315,51.727,101.655,45.53c2.347-0.436,2.724-3.48,1.323-5.014\
										c-12.924-14.154-22.461-32.354-40.036-41.489c-9.099-4.729-18.968-4.594-28.908-5.559c-11.034-1.07-23.002-2.198-33.045,3.463\
										c-3.37,1.899-0.347,7.083,3.028,5.181c8.991-5.068,20.178-3.588,30.017-2.644c9.876,0.948,19.172,0.964,28.079,5.922\
										c15.775,8.779,24.784,26.401,36.623,39.367c0.441-1.671,0.882-3.343,1.323-5.014c-18.997,3.53-39.604,2.677-58.272-2.194\
										c-18.563-4.844-36.549-16.26-35.788-37.551C197.422,166.427,191.422,166.44,191.284,170.298L191.284,170.298z')
								g
									path(fill='#FDF57A', d='M210.298,182.533c11,10.16,33.975,27.608,47.116,10.632c-4.8-6.168-16.358-12.741-23.266-16.316\
									c-9.898-5.065-14.116,0.112-22.451,3.515')
									g
										path(fill='#FBB03B', d='M209.238,183.594c12.263,11.229,34.96,27.944,49.237,10.632c0.559-0.677,0.562-1.444,0-2.121\
										c-6.099-7.356-15.23-12.198-23.569-16.551c-9.126-4.765-15.546-0.114-23.965,3.515c-1.772,0.764-0.243,3.348,1.514,2.59\
										c3.656-1.575,7.078-3.728,10.872-4.962c4.815-1.566,9.346,1.026,13.449,3.247c7.005,3.792,14.437,8.081,19.579,14.282\
										c0-0.707,0-1.414,0-2.121c-13.032,15.802-33.956-0.523-44.995-10.632C209.936,180.169,207.808,182.285,209.238,183.594\
										L209.238,183.594z')
							g#O1
								g
									path(fill='#FFC03F', d='M140.284,194.298c-2.136,43.949,66.737,48.564,97.857,42.638c-16.422-17.757-28.112-43.893-55.947-45.343\
									c-12.202-0.268-30.824-4.812-42.407,2.228')
									g
										path(fill='#E9A400', d='M137.284,194.298c-1.712,47.851,68.315,51.727,101.655,45.53c2.347-0.436,2.724-3.48,1.324-5.014\
										c-12.924-14.154-22.461-32.354-40.036-41.489c-9.099-4.729-18.968-4.594-28.909-5.558c-11.034-1.07-23.002-2.199-33.045,3.462\
										c-3.37,1.9-0.347,7.084,3.028,5.182c8.991-5.068,20.178-3.588,30.017-2.644c9.876,0.947,19.171,0.964,28.08,5.922\
										c15.775,8.779,24.783,26.401,36.623,39.367c0.441-1.671,0.882-3.343,1.324-5.014c-18.998,3.53-39.604,2.677-58.272-2.194\
										c-18.563-4.844-36.549-16.26-35.788-37.551C143.422,190.427,137.422,190.44,137.284,194.298L137.284,194.298z')
								g
									path(fill='#FDF57A', d='M156.298,206.533c11,10.16,33.975,27.608,47.116,10.632c-4.8-6.168-16.358-12.741-23.266-16.316\
									c-9.898-5.065-14.116,0.112-22.451,3.515')
									g
										path(fill='#FBB03B', d='M155.238,207.594c12.263,11.229,34.96,27.944,49.237,10.632c0.559-0.677,0.562-1.444,0-2.121\
										c-6.099-7.356-15.23-12.198-23.569-16.551c-9.126-4.765-15.546-0.114-23.965,3.515c-1.772,0.764-0.243,3.348,1.514,2.59\
										c3.656-1.575,7.078-3.728,10.872-4.962c4.815-1.566,9.346,1.026,13.449,3.247c7.005,3.792,14.437,8.081,19.579,14.282\
										c0-0.707,0-1.414,0-2.121c-13.032,15.802-33.956-0.523-44.995-10.632C155.936,204.169,153.808,206.285,155.238,207.594\
										L155.238,207.594z')
						g#Layer_3






		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
