/* Pen-specific styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;	
  font-size: 1.25rem;
  line-height: 150%;
  text-shadow: 0 2px 2px #b6701e;
  height: 100%;
  overflow: hidden;
/*   background-color: black; */

}

section {
  color: #fff;
  text-align: center;
}

div {
  height: 100%;
}

article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 20px;
}

h1 {
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
}

/* Pattern styles */
.container {
  display: table;
  width: 100%;
}

.left {
  background-color: black;
  position: absolute;
  left: 0px;
  width: 50%;
  animation: slideDown 0.75s 0s forwards;
  z-index: -1;
}


@keyframes slideDown {
     from {
         -webkit-transform: translateY(600px) 
     }
     to {
         -webkit-transform: translateY(0px) 
     }

}

.right {
  background-color: orange;
  position: absolute;
  right: 0px;
  width: 50%;
  animation: slideUp 0.75s 0s forwards;
  z-index: -1;
}


@keyframes slideUp {
     from {
         -webkit-transform: translateY(-700px) 
     }
     to {
         -webkit-transform: translateY(0px) 
     }
}

.share {
	margin-top: 300px;
}

.go {
  margin-top: 160px;
}


@keyframes change {
	0% {-webkit-transform: translateX(0)}
	50% {-webkit-transform: translateX(-100px)}
	100% {-webkit-transform: translateX(200px)}
}

@keyframes animate {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
    5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
    20% { opacity: 0; -webkit-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
} 

input, textarea {
	font-family: 'Sintony';
	font-size: 13px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: yellow;

}

input:active {
	border-style: solid;
	border-width: 2px;
	border-color: grey;
}

textarea {
	margin-top: 7px;
}

h2 {
	font-family:'Cabin Sketch';
	color: white;
	font-size: 50px;
}


button {
	border-style: solid;
	border-width: 2px;
	border-radius: 80px;
	border-color: red;
	background-color: white;
	font-family: Sintony;
	font-size: 13px;
	position: relative;
}	


button:hover {
  border-color: orange;
  background-color: black;
  color: white;
  font-weight: bold;

} 

p {
  font-family: Sintony;
  font-size: 12px;
  background: blue;
  text-align: center;
}

/* right animation */



/* Wheat Animation */
.wrapper {
  position:absolute;
  display: block;
  z-index: 2;
  height: 40%;
  margin-left: 100px;
}

.wrapper2 {
  position:absolute;
  display: block;
  z-index: 2;
  height: 40%;
  margin-left: 100px;
}

#top {
  animation: moveLR 2s 1s infinite;
  transform-origin: left bottom;
}

#top:hover {
    animation: flyAway 2s 0s;
}

#B1 {
  animation: moveRL 2s infinite;
  transform-origin: left bottom;
}

#B2 {
  animation: moveLR 2s infinite;
  transform-origin: left bottom;
}

#B3 {
  animation: moveRL 2s infinite;
  transform-origin: left bottom;
}

#B4 {
  animation: moveLR 2s infinite;
  transform-origin: left bottom;
}

#B5 {
  animation: moveRL 2s infinite;
  transform-origin: left bottom;
}

#B6 {
  animation: moveLR 2s infinite;
  transform-origin: left bottom;
}

#O1 {
  animation: moveLR 2s infinite;
  transform-origin: left top;
}

#O2 {
  animation: moveRL 2s infinite;
  transform-origin: left top;
}

#O3 {
  animation: moveLR 2s infinite;
  transform-origin: left top;
}

#O4 {
  animation: moveRL 2s infinite;
  transform-origin: left top;
}

#O5 {
  animation: moveLR 2s infinite;
  transform-origin: left top;
}


@keyframes moveLR {
  0% {transform: rotate(4deg);}
  50% {transform: rotate(0deg);}
  100% {transform: rotate(4deg);}
}

@keyframes moveRL {
  0% {transform: rotate(-3deg);}
  50% {transform: rotate(2deg);}
  100% {transform: rotate(-3deg);}
}

@keyframes flyAway {
  0% {transform: translateX(10px);}
  10% {transform: translateX(20px);
      transform: rotate(90deg);}
  20% {transform: translateX(30px);}
  30% {}
  40% {transform: translateX(40px);}
  50% {transform: translateX(50px);}
  60% {transform: translateX(60px);}
  70% {transform: translateX(70px);}
  80% {transform: translateX(200px);}
  90% {transform: translateX(250px);}
  100% {transform: translateX(1000px);}
}