body {
  margin: 0;	
  font-size: 1.25rem;
  line-height: 150%;
  text-shadow: 0 2px 2px #b6701e;
  height: 100%;
  overflow: hidden;
}

.logoLeft {
  font-family: monoton;
  font-size: 70px;
  margin-top: 40px;
  left: 588px;
  position: absolute;
  animation: hide 3.2s, appear 1s 3.2s;
}

.logoRight {
  font-family: monoton;
  color: black;
  font-size: 70px;
  margin-top: 40px;
  left: 7px;
  position: absolute;
  animation: hide 3.2s, appear 1s 3.2s, flickerR 1s 3.5s infinite;
}

@keyframes flickerR {
  0% {color: white;}
  20% {color: black;}
  30% {color: white;}
  35% {color: red;}
  45% {color: white;}
  50% {color: black;}
  100% {color: black;}
}


section {
  color: #fff;
  text-align: center;
}

div {
  height: 100%;
}

article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 20px;
}


.container {
  display: table;
  width: 100%;
}

.left {
  background-color: black;
  position: absolute;
  left: 0px;
  width: 50%;
  animation: slideDown 0.75s 0s forwards;
  z-index: -1;
}


@keyframes slideDown {
     from {
         -webkit-transform: translateY(600px) 
     }
     to {
         -webkit-transform: translateY(0px) 
     }

}

.right {
  background-color: orange;
  position: absolute;
  right: 0px;
  width: 50%;
  animation: slideUp 0.75s 0s forwards;
  z-index: -1;
}


@keyframes slideUp {
     from {
         -webkit-transform: translateY(-700px) 
     }
     to {
         -webkit-transform: translateY(0px) 
     }
}

.share {
	margin-top: 300px;
}

.go {
  margin-top: 160px;
}


@keyframes change {
	0% {-webkit-transform: translateX(0)}
	50% {-webkit-transform: translateX(-100px)}
	100% {-webkit-transform: translateX(200px)}
}

@keyframes animate {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
    5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
    20% { opacity: 0; -webkit-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
} 

input, textarea {
	font-family: 'Sintony';
	font-size: 13px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: yellow;

}

input:active {
	border-style: solid;
	border-width: 2px;
	border-color: grey;
}

textarea {
	margin-top: 7px;
}

h2 {
	font-family:'Cabin Sketch';
	color: white;
	font-size: 50px;
  animation: big 4s ease-in-out, heartbeat 3s 4s infinite;
}


button {
  border-style: solid;
  border-width: 2px;
  border-color: red;
  background-color: white;
  font-family: Sintony;
  font-size: 14px;
  position: relative;
}  


button:hover {
  border-color: white;
  background-color: black;
  color: white;
  font-weight: bold;
}

p {
  font-family: Sintony;
  font-size: 12px;
  background: blue;
  text-align: center;
}

.form {
  animation: slideInL 1s ease-in;
}

.search {
  animation: slideInR 1s ease-in;
}

@keyframes big {
  0% {transform: scale(0);}
  100% {transform: scale(1);}
}

@keyframes heartbeat {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}

@keyframes slideInL {
  0% {transform: translateX(-450px);}
  70% {transform: translateX(0px);}
  80% {transform: translateX(40px);}
  100% {transform: translateX(0px);}
}

@keyframes slideInR {
  0% {transform: translateX(450px);}
  70% {transform: translateX(0px);}
  80% {transform: translateX(-40px);}
  100% {transform: translateX(0px);}
}

/* WHEAT ANIMATION */
.wrapper {
  position:absolute;
  display: block;
  z-index: 2;
  height: 40%;
  margin-left: 100px;
}

.wrapper2 {
  position:absolute;
  display: block;
  z-index: 2;
  height: 40%;
  margin-left: 100px;
}

#takje {
  animation: fadeIn 5.5s;
}

@keyframes fadeIn {
  0%   { opacity: 0; }
  30%  { opacity: 0; }
  100% { opacity: 1; }
}

#top {
  animation: hide 2.8s, appear 1s 2.8s, moveLR 2s 1.5s infinite;
  transform-origin: left bottom;
}


#B1 {
  animation: hide 2s, appear 1s 2s, moveRL 2s 1s infinite;
  transform-origin: left bottom;
}

#B2 {
  animation: hide 2.2s, appear 1s 2.2s, moveLR 2s 1s infinite;
  transform-origin: left bottom;
}

#B3 {
  animation: hide 2.4s, appear 1s 2.4s, moveRL 2s 1s infinite;
  transform-origin: left bottom;
}

#B4 {
  animation: hide 2.5s, appear 1s 2.5s, moveLR 2s 1s infinite;
  transform-origin: left bottom;
}

#B5 {
  animation: hide 2.6s, appear 1s 2.6s, moveRL 2s 1s infinite;
  transform-origin: left bottom;
}

#B6 {
  animation: hide 2.7s, appear 1s 2.7s, moveLR 2s 1s infinite;
  transform-origin: left bottom;
}

#O1 {
  animation: hide 2.10s, appear 1s 2.10s, moveLR 2s 1s infinite;
  transform-origin: left top;
}

#O2 {
  animation: hide 2.20s, appear 1s 2.20s, moveRL 2s 1s infinite;
  transform-origin: left top;
}

#O3 {
  animation: hide 2.30s, appear 1s 2.30s, moveLR 2s 1s infinite;
  transform-origin: left top;
}

#O4 {
  animation: hide 2.40s, appear 1s 2.40s, moveRL 2s 1s infinite;
  transform-origin: left top;
}

#O5 {
  animation: hide 2.50s, appear 1s 2.50s, moveLR 2s 1s infinite;
  transform-origin: left top;
}

@keyframes moveLR {
  0% {transform: rotate(4deg);}
  50% {transform: rotate(0deg);}
  100% {transform: rotate(4deg);}
}

@keyframes moveRL {
  0% {transform: rotate(-3deg);}
  50% {transform: rotate(2deg);}
  100% {transform: rotate(-3deg);}
}

@keyframes appear {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes hide {
  0%   { opacity: 0; }
  100% { opacity: 0; }}

