/* Pen-specific styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;	
  font-size: 1.25rem;
  line-height: 150%;
  text-shadow: 0 2px 2px #b6701e;
  background-color: black;

}

section {
  color: #fff;
  text-align: center;
}

div {
  height: 100%;
}

article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 20px;
}

h1 {
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
}

/* Pattern styles */
.container {
  display: table;
  width: 100%;
}

.left {
  background-image:  -webkit-linear-gradient(45deg, rgba(228,255,74,1) 0%, rgba(255,0,0,1) 50%, rgba(255,255,0,1) 100%);
  position: absolute;
  left: 0px;
  width: 50%;
  animation: slideDown 0.75s 0s forwards;
}


.left:hover {
	background-image: -webkit-linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(0,255,255,1) 100%);
}

@keyframes slideDown {
     from {
         -webkit-transform: translateY(600px) 
     }
     to {
         -webkit-transform: translateY(0px) 
     }

}

.right {
  background-image: -webkit-linear-gradient(45deg, rgba(255,0,255,1) 0%, rgba(0,255,255,1) 100%);
  position: absolute;
  right: 0px;
  width: 50%;
  animation: slideUp 0.75s 0s forwards;
}

.right:hover {
	background-image: -webkit-linear-gradient(45deg, rgba(255,255,0,1) 0%, rgba(0,255,255,1) 100%); 

}

@keyframes slideUp {
     from {
         -webkit-transform: translateY(-700px) 
     }
     to {
         -webkit-transform: translateY(0px) 
     }
}

.share {
	margin-top: 180px;

}


@keyframes change {
	0% {-webkit-transform: translateX(0)}
	50% {-webkit-transform: translateX(-100px)}
	100% {-webkit-transform: translateX(200px)}
}

@keyframes animate {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
    5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
    20% { opacity: 0; -webkit-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
} 

input, textarea {
	font-family: 'Sintony';
	font-size: 13px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: yellow;

}

input:active {
	border-style: solid;
	border-width: 2px;
	border-color: grey;
}

textarea {
	margin-top: 7px;
}

h2 {
	font-family:'Cabin Sketch';
	color: white;
	font-size: 50px;
}


button {
	border-style: solid;
	border-width: 2px;
	border-radius: 80px;
	border-color: red;
	background-color: white;
	font-family: Sintony;
	font-size: 13px;
	position: relative;
}	


button:hover {
  border-color: orange;
  background-color: black;
  color: white;
  font-weight: bold;

} 

p {
  font-family: Sintony;
  font-size: 12px;
  background: blue;
  text-align: center;
}